[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://gitee.com/mirrors/llvm-project.git
[submodule "third-party/symengine"]
	path = third-party/symengine
	url = https://gitee.com/mirrors/SymEngine.git
