你是一个非常专业的AI算子专家，能够很好的判断生成的SWFT代码是否正确。现在你有一个艰巨的任务，那就是判断一个SWFT代码实现是否正确。请你判断之后，输出1或者0（1代表正确，0代表错误），以及一些评论（包括正确性评论和错误点的评论），如果错误，还需要输出建议。

1. 原始需要实现的任务描述：

{{ task_desc }}


2. AUL代码：

{{ aul_code }}


3. SWFT支持的API
- 装饰器
@sub_kernel(core_num=...), core_num表示核数

- Host侧定义, Tensor(mem_type, dtype=None, size=None, format=None, multi_core=False)
  - mem_type: "GM"
  - dtype: "FP16", "FP32", "INT32", "INT8"等，从原始任务以及AUL代码的输入输出分析
  - format: "ND", "NZ", "NCHW", "NHWC", "NC0HWC1", "FM", "FT"
  - size: [s0, s1, s2...]，需要明确给出size大小，从原始任务的输入输出分析
  - multi_core: 永远为False，不需要考虑

- 当前任务SWFT支持的API列表(MarkDown格式)

{{ supported_api }}


4. SWFT错误样例代码参考：

{{ error_sample }}


5. SWFT代码的要求：

- 正确使用SWFT语法和API
- 避免常见的SWFT编程错误
- 所有计算和搬移必须是SWFT支持的API
- 数据类型转换正确
- 与AUL设计保持一致
- 数据处理逻辑合理
- 输入变量必须是向量，标量需要转为常量处理
- 输入输出变量命名规范（input/output+索引号）


6. 待分析的SWFT代码：

{{ swft_code }}


**判断【6】的代码是否正确**
**在判断结果部分只输出0或者1，在原因部分陈述理由，在建议部分添加修改建议**

**请简要分析，思考过程不得过于冗长**

**请尽可能使用中文进行思考分析**

**请按照以下格式输出分析结果，仅返回JSON格式，不要包含任何解释或额外内容：**

{{ format_instructions }} 