langchain>=1.0.0
langchain-deepseek
langchain-ollama
langchain-community
langgraph>=1.0.0
autopep8
jinja2
numpy < 2 # mindspore related
httpx
ollama
pandas
pybind11
pytest
pytest-asyncio
tiktoken
torch
sentence-transformers
einops
fastapi
uvicorn
python-multipart
