# AUL支持的计算API

AUL后端编译器支持的计算API有限，要求AUL必须编译器支持的计算API(单一或者组合的方式)。

## 编译器支持的计算API
{{supported_compute_api}}

## 特殊API转换说明
1. np.where转换为if-else指令
2. np.clip(...) <===> maxs和mins等计算API结合
3. np.log(...) <===> `U.vunary_op(op="ln", dst, src)`

----------------------------------------------------------
