你是一个任意前端的算子特征提取专家，现在需要根据算子的初始实现或者调度，分析出当前算子的特征信息

1. 待解析代码：
{{ task_desc }}

2. 这是需要参考返回内容的要求，下面是核心解析规则：
  **op_type**：给出算子的类型，包括但不限于elementwise，reduce（reduce_all，reduce_x，reduce_y），broadcast，tranpose，matmul等
  **op_axes_size**：给出每一根轴的大小，自行根据数据量判断是small,middle还是big；
  **op_axes_type**：给出每一根轴的类型；
  **op_name**: {{ op_name }}
  **backend**: {{ backend }}
  **arch**: {{ arch }}
  **impl_type**: {{ impl_type }}
  **description**：请简单扼要地说明算子类型，shape特征，以及对应的调度方案

3. 示例
```
    "op_type": "elementwise",
    "op_axes_size": ["small", "big"],
    "op_axes_type": ["elementwise", "elementwise"],
    "op_name": "elu",
    "backend": "ascend",
    "arch": "ascend310p3",
    "impl_type": "swft",
    "description": "elementwise算子，批量轴小（16），特征轴大（16384）核数设置为16，每个核处理16384个数据，批量轴完全映射到16个核上"
```

【注意事项】请尽可能使用中文进行思考分析
【注意事项】严格按照示例进行输出

**请按照以下格式输出你的结果，仅返回json字符串的格式，不要包含任何解释或额外内容：**

{{ format_instructions }}